<!doctype html>
<html lang="en" ng-app="compare">

<head>
    <meta charset="utf-8">
    <title>HP Compare</title>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/ui-bootstrap.min.js"></script>
    <script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="js/controllers.js"></script>
    <link rel="stylesheet" href="via_design/css/vlocity.css" />
    <link rel="stylesheet" href="css/SelectableList.css" />
    <link rel="stylesheet" href="css/CompareTemplate.css" />
    <link rel="stylesheet" href="css/hphcCompareTemplate.css" />
</head>

<body class="vlocity" ng-controller="compareController as cc">
    <div class="outer-container">
        <div class="container-fluid">
            <div class="row form-inline form-group">
                <div class="col-sm-3">
                    <label for="productType" class="filter-title">Product Type: </label>
                    <select id="productType" ng-model="filters.ProductType" class="form-control" ng-options="item as item for item in productTypes" ng-change="filterChanged(filters.ProductType)">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="productSubType" class="filter-title">Product Sub-Type: </label>
                    <select id="productSubType" ng-model="filters.ProductSubType" class="form-control" ng-options="item as item for item in productSubTypes" ng-change="filterChanged(filters.ProductSubType)">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="marketSegment" class="filter-title">Market Segment: </label>
                    <select id="marketSegment" ng-model="filters.MarketSegment" class="form-control" ng-options="item as item for item in marketSegment" ng-change="filterChanged(filters.MarketSegment)">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-default pull-right" ng-click="open('lg')">Compare</button>
                </div>
            </div>            
        </div>
        <div class="scroll-container">
            <div class="products-container" style="{{carouselWidth}}">
                <div ng-repeat="h in control.vlcSI['recSet']">
                    <section class="selectable-hphc" ng-repeat="p in h.calculationResults" ng-if="$first" ng-class="{'vlc-selectableitem-selected' : p.vlcSelected, 'recommended': p.ProductRecommend}" ng-show="showProduct(p)">
                        <div class="top-container">
                            <h1>{{p.ProductName}}</h1>
                            <div class="subtotal">
                                <sup>{{currencySymbol}}</sup>
                                <span class="num price-format">{{formatPrice(h.aggregationResults.TotalPrice)}}</span>
                                <span class="label-text">Monthly Premium</span>
                            </div>
                            <button class="form-control" ng-click="onSelectItem(control, p, $index, this, true)">
                                <span ng-hide="p.vlcSelected">Select Plan</span>
                                <span ng-show="p.vlcSelected" class="selected"><i class="icon icon-v-check"></i>Selected</span>
                            </button>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="p.vlcCompSelected" ng-change="onCompSelectItem(control)" ng-disabled="control.compDisable && !p.vlcCompSelected"> Compare
                                </label>
                            </div>
                            <a class="external-link" href="https://mp.medimpact.com/mp/secure/LaunchProductFrameset.jsp" target="_blank">Launch Product Frameset</a>
                        </div>
                        <div class="attributes-container" equal-height="true" ng-style="style">
                            <ul>
                                <li ng-repeat="attribute in p.attributes | filter: { description: 'Key' }">
                                    <strong>{{attribute.name}}</strong>
                                    <p class="{{attribute.dataType.toLowerCase()}}">
                                        <span class="currency-symbol" ng-if="attribute.dataType === 'Currency'">{{currencySymbol}}</span>
                                        <span>{{attribute.value}}</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="vlcCompareModal.html">
        <div class="vlocity vlcCompareModal hphc">
            <div class="modal-header form-inline">
                <div class="form-group">
                    <label for="compareSelect" class="modal-title">Compare Plans</label>
                    <select id="compareSelect" ng-model="selectedCC" class="form-control" ng-options="category for category in categoryList" ng-change="selectedItemChanged(selectedCC)">
                        <option value="">All</option>
                    </select>
                </div>
                <i class="icon icon-v-close-circle-line pull-right" ng-click="cancel()"></i>
            </div>
            <div class="modal-body">
                <div class="table-wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th ng-repeat="product in productList">
                                    <h2>{{product.name}}</h2></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="category in categoryList" ng-if="showCategory(category)">
                            <tr class="attr-category">
                                <td ng-attr-colspan="{{productList.length + 1}}">
                                    <h3>{{category}}</h3>
                                </td>
                            </tr>
                            <tr ng-repeat="(key,value) in categoryMap[category]['attributes'] track by $index">
                                <td>{{key}}</td>
                                <td ng-repeat="product in productList track by $index" class="{{attributesValueForProduct(product.code,category,key).dataType.toLowerCase()}}" ng-class="{'no-currency-symbol': !currencyCode}">
                                    <span class="value">
                                    <span ng-if="attributesValueForProduct(product.code,category,key).dataType === 'Currency' && currencyCode" class="currency-symbol">{{currencySymbol}}</span> {{attributesValueForProduct(product.code,category,key).value }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </script>
</body>

</html>
